Repository Acidsyd/BOB_inbox: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...95"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
      backend:
        target: 85%
        threshold: 2%
        paths:
          - "backend/src/"
        flags:
          - backend-unit
          - backend-integration
      frontend:
        target: 75%
        threshold: 3%
        paths:
          - "frontend/"
        flags:
          - frontend
      leads-system:
        target: 90%
        threshold: 1%
        paths:
          - "backend/src/services/*Lead*"
          - "backend/src/routes/*leads*"
          - "frontend/components/leads/"
          - "frontend/__tests__/components/leads/"
        flags:
          - backend-unit
          - frontend
    patch:
      default:
        target: 70%
        threshold: 5%

  ignore:
    - "**/*.test.js"
    - "**/*.spec.ts"
    - "**/*.test.tsx"
    - "**/*.spec.js"
    - "**/tests/"
    - "**/__tests__/"
    - "**/node_modules/"
    - "**/.next/"
    - "**/dist/"
    - "**/build/"
    - "**/coverage/"
    - "**/migrations/"
    - "**/seeds/"
    - "backend/src/index.js"
    - "frontend/next.config.js"
    - "frontend/tailwind.config.js"
    - "jest.*.js"
    - "playwright*.config.js"

flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true
  backend-integration:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  combined:
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

github_checks:
  annotations: true

slack:
  notifications:
    - url: "secret:SLACK_WEBHOOK_URL"
      threshold: 1%
      message: "Coverage changed for {{owner}}/{{repo}}"
      only_pulls: false
      branches:
        - main
        - develop

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

fix: enable SSH agent forwarding for GitHub repository access
  .github/workflows/deploy.yml
Due: none

docs: update deployment documentation and add SSH troubleshooting guide
  DEPLOYMENT_SETUP.md
  QUICK_SSH_FIX.md
Due: none

deploy: trigger CSV uploader deployment to production
  CSV_DEPLOYMENT_LOG.md
Due: none

feat: enhance CSV uploader with progress tracking and next.config optimizations
  frontend/components/leads/CSVUploader.tsx
  frontend/next.config.js
Due: frontend

feat: add comprehensive duplicate detection for campaign lead selection
  frontend/app/campaigns/new/page.tsx
  frontend/components/campaigns/LeadListSelector.tsx
Due: frontend

fix: correct dynamic import syntax in EmailSequenceBuilder
  frontend/components/campaigns/EmailSequenceBuilder.tsx
Due: frontend

refactor: simplify SimpleRichTextEditor configuration and reduce complexity
  frontend/components/ui/simple-rich-text-editor.tsx
Due: frontend

trigger: manual deployment verification for leads system
  README.md
Due: none

debug: add login debug logging + force CSV uploader deployment
  frontend/app/login/page.tsx
Due: frontend

URGENT: force CSV uploader deployment rebuild
  README.md
Due: none

feat: implement fresh DigitalOcean deployment strategy
  .env.production.example
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  ecosystem.config.js
  frontend/app/campaigns/new/page.tsx
  frontend/app/campaigns/page.tsx
  frontend/components/campaigns/DuplicateCheckStep.tsx
  frontend/components/campaigns/EmailSequenceBuilder.tsx
  frontend/components/campaigns/LeadListSelector.tsx
  frontend/components/ui/simple-rich-text-editor.tsx
  package.json
  scripts/production-setup.sh
Due: frontend

feat(campaigns): enhance duplicate check step in campaign creation workflow
  frontend/app/campaigns/new/page.tsx
Due: frontend

feat: integrate Git MCP tools for enhanced deployment automation
  .github/workflows/deploy.yml
  scripts/deploy-with-mcp.sh
  scripts/mcp-deploy.js
Due: none

feat: integrate GitHub MCP server for enhanced deployment automation
  .gitignore
  backend/src/routes/leadLists.js
  scripts/deploy-with-github-mcp.sh
  scripts/test-github-mcp.sh
Due: backend-unit, backend-integration

feat: add GitHub MCP integration demonstration and user guide
  scripts/github-mcp-demo.sh
Due: none

feat: integrate DigitalOcean MCP server for complete deployment automation
  .gitignore
  MCP_DEPLOYMENT_GUIDE.md
  frontend/components/campaigns/EmailSequenceBuilder.tsx
  scripts/deploy-with-all-mcp.sh
  scripts/setup-digitalocean-mcp.sh
Due: frontend

feat: complete DigitalOcean App Platform integration
  .gitignore
  DASHBOARD_SETUP_GUIDE.md
  DEPLOYMENT_TROUBLESHOOTING.md
  DIGITALOCEAN_SETUP.md
  README.md
  backend/src/routes/campaigns.js
  backend/src/routes/leadLists.js
  frontend/components/campaigns/DuplicateCheckStep.tsx
  frontend/components/campaigns/EmailSequenceBuilder.tsx
  scripts/deploy-to-digitalocean.sh
  scripts/digitalocean-quick-commands.md
  scripts/setup-digitalocean-github-integration.sh
Due: backend-unit, backend-integration, frontend

fix: enhance lead duplicate detection and email sequence builder
  backend/src/routes/leadLists.js
  frontend/components/campaigns/EmailSequenceBuilder.tsx
  frontend/components/ui/simple-rich-text-editor.tsx
Due: backend-unit, backend-integration, frontend

fix: resolve DigitalOcean build failures
  backend/package.json
  backend/src/routes/leadLists.js
Due: backend-unit, backend-integration

fix: remove package-lock files and fix Node.js version specs
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/routes/leadLists.js
  frontend/package-lock.json
  frontend/package.json
Due: backend-unit, backend-integration, frontend

fix: simplify Next.js config for DigitalOcean build compatibility
  backend/src/routes/leadLists.js
  frontend/.env.production
  frontend/next.config.production.js
Due: backend-unit, backend-integration, frontend

fix: replace @ aliases with relative imports for build compatibility
  frontend/app/campaigns/[id]/page.tsx
  frontend/tsconfig.json
Due: frontend

fix: replace @ imports in campaigns/new page with relative paths
  frontend/app/campaigns/new/page.tsx
Due: frontend

fix: replace @ imports in campaigns main page
  frontend/app/campaigns/page.tsx
Due: frontend

fix: replace @ imports in dashboard page
  frontend/app/dashboard/page.tsx
Due: frontend

fix: replace @ alias imports with relative paths in inbox page
  frontend/app/inbox/page.tsx
Due: frontend

fix: replace @ alias imports with relative paths in leads list page
  frontend/app/leads/lists/[id]/page.tsx
Due: frontend

fix: replace @ alias imports with relative paths in leads new page
  frontend/app/leads/lists/new/page.tsx
Due: frontend

fix: replace @ alias imports with relative paths in leads lists page
  frontend/app/leads/lists/page.tsx
Due: frontend

fix: replace @ alias imports with relative paths in leads upload page
  frontend/app/leads/lists/upload/page.tsx
Due: frontend

fix: move autoprefixer, postcss, and tailwindcss to dependencies for production build
  frontend/package.json
Due: frontend

fix: replace @ alias imports with relative paths in auth and utility pages
  frontend/app/login/page.tsx
  frontend/app/offline/page.tsx
  frontend/app/register/page.tsx
  frontend/app/unsubscribe/page.tsx
Due: frontend

fix: replace @ alias imports with relative paths in all remaining pages
  frontend/app/leads/page.tsx
  frontend/app/settings/billing/page.tsx
  frontend/app/settings/email-accounts/[id]/page.tsx
  frontend/app/settings/email-accounts/new/page.tsx
  frontend/app/settings/email-accounts/page.tsx
  frontend/app/settings/page.tsx
Due: frontend

fix: replace final @ alias lib import with relative path
  frontend/app/settings/email-accounts/new/page.tsx
Due: frontend

fix: configure outputFileTracingRoot to resolve Next.js workspace detection
  frontend/next.config.js
Due: frontend

fix: correct backend build script for JavaScript project
  backend/package.json
Due: backend-unit, backend-integration

fix: move TypeScript dependencies to production for DigitalOcean build
  frontend/package.json
Due: frontend

fix: add environment validation and improve health check for DigitalOcean deployment
  DIGITALOCEAN_ENV_SETUP.md
  backend/src/config/validateEnv.js
  backend/src/index.js
Due: backend-unit, backend-integration
