Repository Acidsyd/BOB_inbox: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...95"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
      backend:
        target: 85%
        threshold: 2%
        paths:
          - "backend/src/"
        flags:
          - backend-unit
          - backend-integration
      frontend:
        target: 75%
        threshold: 3%
        paths:
          - "frontend/"
        flags:
          - frontend
      leads-system:
        target: 90%
        threshold: 1%
        paths:
          - "backend/src/services/*Lead*"
          - "backend/src/routes/*leads*"
          - "frontend/components/leads/"
          - "frontend/__tests__/components/leads/"
        flags:
          - backend-unit
          - frontend
    patch:
      default:
        target: 70%
        threshold: 5%

  ignore:
    - "**/*.test.js"
    - "**/*.spec.ts"
    - "**/*.test.tsx"
    - "**/*.spec.js"
    - "**/tests/"
    - "**/__tests__/"
    - "**/node_modules/"
    - "**/.next/"
    - "**/dist/"
    - "**/build/"
    - "**/coverage/"
    - "**/migrations/"
    - "**/seeds/"
    - "backend/src/index.js"
    - "frontend/next.config.js"
    - "frontend/tailwind.config.js"
    - "jest.*.js"
    - "playwright*.config.js"

flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true
  backend-integration:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  combined:
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

github_checks:
  annotations: true

slack:
  notifications:
    - url: "secret:SLACK_WEBHOOK_URL"
      threshold: 1%
      message: "Coverage changed for {{owner}}/{{repo}}"
      only_pulls: false
      branches:
        - main
        - develop

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

docs: add comprehensive deployment guides
  DEPLOYMENT_LOGIN_FIX.md
  DEPLOYMENT_UPDATE_WORKFLOW.md
Due: none

fix: add missing ArrowRight and Download icons to CSVUploader
  frontend/components/leads/CSVUploader.tsx
Due: frontend

feat: improve CSV uploader UI with clean design and enhanced UX
  frontend/app/leads/lists/upload/page.tsx
  frontend/components/leads/CSVUploader.tsx
  frontend/components/leads/FieldMapper.tsx
  frontend/components/leads/UploadProgress.tsx
Due: frontend

feat: enhance rich text editor and optimize campaign performance
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/campaigns/EmailSequenceBuilder.tsx
  frontend/components/leads/CSVUploader.tsx
  frontend/contexts/TimezoneContext.tsx
Due: frontend

debug: add comprehensive logging to CSV uploader for production debugging
  frontend/components/leads/CSVUploader.tsx
Due: frontend

fix: remove cancelled duplicates step from CSV uploader flow
  frontend/components/leads/CSVUploader.tsx
Due: frontend

fix: reduce batch size to 10 emails with 500ms delays for production database timeout
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix: timezone handling in email scheduling for production 9am sends
  DEBUG_AUTH.md
  DEPLOYMENT_QUICK_START.md
  DEPLOY_CRON_WORKER.md
  GITHUB_DEPLOYMENT_SETUP.md
  SSH_DEPLOYMENT_SETUP.md
  backend/package.json
  backend/src/routes/campaigns.js
  backend/src/services/CronEmailProcessor.js
  check-campaign.js
  exit
  exit.pub
  frontend/app/campaigns/[id]/edit/page.tsx
  frontend/app/campaigns/new/page.tsx
  frontend/components/campaigns/DuplicateCheckStep.tsx
  frontend/components/campaigns/LeadListSelector.tsx
  frontend/components/leads/CSVUploader.tsx
  package-lock.json
  package.json
  scripts/deploy-manual.sh
  scripts/deploy-test.sh
  test-time.js
Due: backend-unit, backend-integration, frontend

fix: campaign timezone defaults to user browser timezone instead of UTC
  frontend/app/campaigns/new/page.tsx
  frontend/components/campaigns/CampaignWizard.tsx
  frontend/contexts/TimezoneContext.tsx
Due: frontend

fix: comprehensive timezone support in CampaignScheduler
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix: use UTC timestamp in CronEmailProcessor query instead of toLocalTimestamp()
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix: resolve NaN hour and Invalid time value errors in CampaignScheduler
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix: add comprehensive date validation to prevent Invalid Date propagation
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix: critical email scheduling bug - preserve CampaignScheduler UTC timing
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix: improve concurrent reschedule protection to use specific email status checks
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix: enforce emailsPerHour constraint in CampaignScheduler
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

debug: add comprehensive CampaignScheduler debug logs to identify scheduling path
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

debug: add critical entry point debug to confirm endpoint execution
  backend/package.json
  backend/src/routes/campaigns.js
  backend/trigger-production-campaign.cjs
Due: backend-unit, backend-integration

fix: critical spintax processing bug - process spintax before sending emails
  CLAUDE.md
  backend/src/services/CronEmailProcessor.js
  backend/src/utils/CampaignScheduler.js
  check-campaign-production.cjs
  check-campaign-timezones-now.cjs
  check-intervals.cjs
  check-production-campaigns.cjs
  check-timezone-bug.cjs
  debug-campaign-history.cjs
  debug-emails-production.cjs
  debug-specific-campaign.cjs
  debug-timezone.cjs
  fix-campaign-intervals.cjs
  frontend/app/campaigns/[id]/edit/page.tsx
  migrate-campaign-timezones.cjs
  package-lock.json
  package.json
  quick-reschedule.cjs
  scripts/manual-ssh-deploy.sh
  test-campaign-restart.cjs
  test-scheduler.cjs
  trigger-campaign.cjs
  trigger-production-campaign.cjs
Due: backend-unit, backend-integration, frontend

fix: resolve timezone display issue in inbox message timestamps
  frontend/components/inbox/InboxMessageView.tsx
  frontend/contexts/TimezoneContext.tsx
Due: frontend

fix: wrap useSearchParams in Suspense boundary for unsubscribe page
  debug-timezone-component.tsx
  frontend/app/unsubscribe/page.tsx
  test-timezone-fix.js
Due: frontend

debug: add comprehensive timezone debugging logs to TimezoneProvider
  frontend/contexts/TimezoneContext.tsx
Due: frontend

fix: display campaign scheduled emails in correct timezone (Europe/Rome) instead of UTC
  backend/src/routes/campaigns.js
  backend/src/utils/CampaignScheduler.js
  check-campaign.cjs
  check-campaign.js
  reschedule-campaign.cjs
  test-scheduler.cjs
Due: backend-unit, backend-integration

fix: inbox timezone display - show CEST instead of UTC
  backend/src/routes/inbox.js
  frontend/components/inbox/InboxMessageView.tsx
  frontend/hooks/useInboxMessages.ts
Due: backend-unit, backend-integration, frontend

fix: resolve timezone conversion errors in inbox API
  backend/src/routes/inbox.js
Due: backend-unit, backend-integration

fix: resolve timezone conversion errors in CampaignScheduler
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix: resolve final timezone conversion error in campaigns.js
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix: conversation list timezone display - add timezone parameter support
  TIMESTAMP_ARCHITECTURE.md
  backend/src/routes/inbox.js
  backend/src/services/UnifiedInboxService.js
  frontend/components/inbox/InboxConversationItem.tsx
  frontend/hooks/useInbox.ts
Due: backend-unit, backend-integration, frontend

fix: complete timezone display fix for conversation list with frontend timezone parameter
  backend/src/routes/inbox.js
  backend/src/services/UnifiedInboxService.js
  frontend/app/campaigns/[id]/edit/page.tsx
Due: backend-unit, backend-integration, frontend

fix: improve timezone detection robustness with fallback handling
  backend/src/routes/inbox.js
  frontend/app/campaigns/[id]/edit/page.tsx
  frontend/hooks/useInbox.ts
  frontend/lib/timezone.ts
Due: backend-unit, backend-integration, frontend

fix: replace hour: '2-digit' with hour: 'numeric' to prevent invalid hour 24 error
  backend/src/utils/dateUtils.cjs
Due: backend-unit, backend-integration

fix: timezone display and email truncation in inbox
  frontend/components/inbox/InboxMessageView.tsx
  frontend/lib/timezone.ts
Due: frontend

fix: timezone context conversation date formatting
  frontend/contexts/TimezoneContext.tsx
Due: frontend

fix: remove double spintax processing to fix email variable substitution
  backend/src/routes/campaigns.js
  backend/src/services/CronEmailProcessor.js
  deploy-timezone-fix.sh
  frontend/app/campaigns/[id]/edit/page.tsx
  frontend/app/campaigns/new/page.tsx
  frontend/hooks/useInboxMessages.ts
  scripts/deploy-email-variable-fix.sh
Due: backend-unit, backend-integration, frontend

fix: complete timezone API integration for message display
  frontend/components/dashboard/LatestActivity.tsx
  frontend/components/inbox/InboxMessageView.tsx
  frontend/components/inbox/MessageThread.tsx
Due: frontend

debug: force cache bust and add timezone debug indicator
  frontend/components/inbox/InboxMessageView.tsx
  frontend/package.json
Due: frontend

fix: use backend timezone-converted timestamps for conversation list and message header
  frontend/components/inbox/ConversationList.tsx
  frontend/components/inbox/InboxMessageView.tsx
Due: frontend

feat: comprehensive timezone improvements and performance fixes
  TIMESTAMP_ARCHITECTURE.md
  apply-webhook-migration.cjs
  backend/src/index.js
  backend/src/routes/campaigns.js
  backend/src/routes/inbox.js
  backend/src/routes/webhooks.js
  backend/src/services/CronEmailProcessor.js
  backend/src/services/TimezoneService.js
  backend/src/services/WebhookService.js
  backend/src/utils/CampaignScheduler.js
  check-timezone-schema.cjs
  database_migrations/add_worldwide_timezone_support.sql
  database_migrations/create_webhooks.sql
  frontend/app/settings/integrations/page.tsx
  frontend/app/settings/page.tsx
  frontend/app/settings/timezone/page.tsx
  frontend/components/layout/Sidebar.tsx
  frontend/components/webhooks/WebhookManager.tsx
  frontend/contexts/TimezoneContext.tsx
  frontend/hooks/useInbox.ts
  frontend/lib/timezone.ts
  frontend/package.json
  frontend_logs.txt
  run-migration.cjs
  test-compose-production.js
  test-webhook-integration.cjs
Due: backend-unit, backend-integration, frontend

fix: comprehensive timezone improvements and performance fixes
  @TIMESTAMP_ARCHITECTURE.md
  backend/src/routes/campaigns.js
  backend/src/services/CronEmailProcessor.js
  backend/src/services/TimezoneService.js
Due: backend-unit, backend-integration
