Repository Acidsyd/BOB_inbox: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...95"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
      backend:
        target: 85%
        threshold: 2%
        paths:
          - "backend/src/"
        flags:
          - backend-unit
          - backend-integration
      frontend:
        target: 75%
        threshold: 3%
        paths:
          - "frontend/"
        flags:
          - frontend
      leads-system:
        target: 90%
        threshold: 1%
        paths:
          - "backend/src/services/*Lead*"
          - "backend/src/routes/*leads*"
          - "frontend/components/leads/"
          - "frontend/__tests__/components/leads/"
        flags:
          - backend-unit
          - frontend
    patch:
      default:
        target: 70%
        threshold: 5%

  ignore:
    - "**/*.test.js"
    - "**/*.spec.ts"
    - "**/*.test.tsx"
    - "**/*.spec.js"
    - "**/tests/"
    - "**/__tests__/"
    - "**/node_modules/"
    - "**/.next/"
    - "**/dist/"
    - "**/build/"
    - "**/coverage/"
    - "**/migrations/"
    - "**/seeds/"
    - "backend/src/index.js"
    - "frontend/next.config.js"
    - "frontend/tailwind.config.js"
    - "jest.*.js"
    - "playwright*.config.js"

flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true
  backend-integration:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  combined:
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

github_checks:
  annotations: true

slack:
  notifications:
    - url: "secret:SLACK_WEBHOOK_URL"
      threshold: 1%
      message: "Coverage changed for {{owner}}/{{repo}}"
      only_pulls: false
      branches:
        - main
        - develop

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

feat(production): complete Phase 8 production deployment preparation
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  docs/PRODUCTION_DEPLOYMENT_GUIDE.md
  docs/ROLLOUT_STRATEGY_AND_ROLLBACK.md
  scripts/production-readiness-validation.js
Due: none

feat(duplicates): fix duplicate import functionality and improve UX
  frontend/components/leads/CSVUploader.tsx
  frontend/components/leads/FieldMapper.tsx
  frontend/hooks/useTrackingConfiguration.ts
Due: frontend

fix(backend): add missing useragent dependency
  backend/package.json
Due: backend-unit, backend-integration

fix: ensure HTTPS API URL in production for qquadro.com domain
  .env.production
  frontend/lib/api.ts
Due: frontend

fix(timestamps): replace UTC conversion with local timestamp preservation in UnifiedInboxService
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

fix(timezone): use UTC timestamps in UnifiedInboxService fallback values
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

chore: disable Kubernetes deployment workflow for DigitalOcean setup
  .env.production
  .github/workflows/production-deploy.yml.disabled
  CLAUDE.md
  backend/src/routes/inbox.js
  frontend/package-lock.json
  frontend/public/manifest.json
  frontend/public/sw.js
Due: backend-unit, backend-integration, frontend

fix(timezone): comprehensive EmailSyncService timezone fixes
  backend/src/services/EmailSyncService.js
Due: backend-unit, backend-integration

fix(production): resolve CSV uploader and lead count critical issues
  CLAUDE.md
  backend/src/routes/leadLists.js
  backend/src/services/BatchProcessingService.js
  backend/src/services/PlanLimitsService.js
  frontend/components/leads/CSVUploader.tsx
  frontend/lib/api.ts
  frontend/lib/csvParser.ts
Due: backend-unit, backend-integration, frontend

fix(production): resolve 413 Payload Too Large error for CSV uploads
  backend/src/index.js
  config/nginx/nginx.conf
Due: backend-unit, backend-integration

fix(production): update production nginx config for CSV uploads
  nginx/production.conf
Due: none

fix(nginx): add production nginx restart script for applying configuration changes
  restart-nginx.sh
Due: none

fix(nginx): create proper server configuration for docker-compose setup
  nginx/server.conf
Due: none

fix(docker): use server.conf for proper nginx configuration mounting
  docker-compose.production.yml
  frontend/app/providers.tsx
  frontend/components/inbox/InboxConversationItem.tsx
  frontend/components/inbox/InboxMessageView.tsx
  frontend/contexts/TimezoneContext.tsx
  frontend/lib/timezone.ts
  frontend/package-lock.json
  frontend/package.json
  nginx/production.conf
  sample-leads.csv
Due: frontend

feat(deploy): add production deployment script for 413 error fix
  production-deploy.sh
Due: none

fix(upload): resolve 413 Payload Too Large errors for CSV uploads
  restart-nginx.sh
Due: none

feat(deploy): setup GitHub Actions auto-deployment pipeline
  .github/workflows/deploy.yml
  DEPLOYMENT_SETUP.md
Due: none

feat: cleanup old deployment workflow and finalize GitHub Actions setup
  .github/workflows/production-deploy.yml.disabled
Due: none

fix: simplify GitHub Actions deployment workflow
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/deploy.yml
  .github/workflows/pr-validation.yml.disabled
  .github/workflows/test-suite.yml.disabled
Due: none

fix: improve SSH key handling in GitHub Actions deployment
  .github/workflows/deploy.yml
Due: none

fix: add comprehensive SSH key debugging and setup guide
  .github/workflows/deploy.yml
  SSH_KEY_SETUP.md
Due: none

trigger deployment after SSH key fix
  README.md
Due: none

temporarily disable SSH key validation for debugging
  .github/workflows/deploy.yml
Due: none

simplify deployment with manual instructions
  .github/workflows/deploy.yml
Due: none

fix: update GitHub repository URL for automatic deployment
  .github/workflows/deploy.yml
Due: none

fix: improve deployment robustness and error handling for git operations
  .github/workflows/deploy.yml
Due: none

debug: add comprehensive debugging to identify deployment failure
  .github/workflows/deploy.yml
Due: none

fix: use SSH instead of HTTPS for private repository access
  .github/workflows/deploy.yml
Due: none

force: trigger GitHub Actions to use latest SSH version
  .github/workflows/deploy.yml
Due: none

feat: add dual SSH key support for server and GitHub access
  .github/workflows/deploy.yml
Due: none

fix: rename GitHub SSH key secret to REPO_SSH_KEY
  .github/workflows/deploy.yml
Due: none

test: trigger automatic deployment to Digital Ocean
  DEPLOYMENT_TEST.md
Due: none

debug: add SSH key testing to identify deployment issue
  .github/workflows/deploy.yml
Due: none
