Repository Acidsyd/BOB_inbox: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...95"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        base: auto
      backend:
        target: 85%
        threshold: 2%
        paths:
          - "backend/src/"
        flags:
          - backend-unit
          - backend-integration
      frontend:
        target: 75%
        threshold: 3%
        paths:
          - "frontend/"
        flags:
          - frontend
      leads-system:
        target: 90%
        threshold: 1%
        paths:
          - "backend/src/services/*Lead*"
          - "backend/src/routes/*leads*"
          - "frontend/components/leads/"
          - "frontend/__tests__/components/leads/"
        flags:
          - backend-unit
          - frontend
    patch:
      default:
        target: 70%
        threshold: 5%

  ignore:
    - "**/*.test.js"
    - "**/*.spec.ts"
    - "**/*.test.tsx"
    - "**/*.spec.js"
    - "**/tests/"
    - "**/__tests__/"
    - "**/node_modules/"
    - "**/.next/"
    - "**/dist/"
    - "**/build/"
    - "**/coverage/"
    - "**/migrations/"
    - "**/seeds/"
    - "backend/src/index.js"
    - "frontend/next.config.js"
    - "frontend/tailwind.config.js"
    - "jest.*.js"
    - "playwright*.config.js"

flags:
  backend-unit:
    paths:
      - backend/
    carryforward: true
  backend-integration:
    paths:
      - backend/
    carryforward: true
  frontend:
    paths:
      - frontend/
    carryforward: true
  combined:
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

github_checks:
  annotations: true

slack:
  notifications:
    - url: "secret:SLACK_WEBHOOK_URL"
      threshold: 1%
      message: "Coverage changed for {{owner}}/{{repo}}"
      only_pulls: false
      branches:
        - main
        - develop

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

feat(legal): add Privacy Policy and Terms of Service pages for Google OAuth2
  frontend/app/privacy/page.tsx
  frontend/app/terms/page.tsx
Due: frontend

fix(campaigns): persist all advanced settings on campaign update
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(email-accounts): save display name for OAuth2 accounts
  backend/src/routes/emailAccounts.js
Due: backend-unit, backend-integration

fix(email-accounts): cleanup scheduled_emails when account is deleted
  backend/src/routes/emailAccounts.js
Due: backend-unit, backend-integration

fix(oauth2): auto-cleanup campaigns and scheduled_emails when account becomes invalid
  backend/src/services/OAuth2Service.js
Due: backend-unit, backend-integration

fix(inbox): quote only the latest received message in replies
  frontend/components/inbox/InboxMessageView.tsx
Due: frontend

fix(inbox): improve Gmail reply threading and quoted content format
  backend/src/routes/inbox.js
  frontend/components/inbox/InboxMessageView.tsx
Due: backend-unit, backend-integration, frontend

fix(inbox): only use threadId for synced messages to avoid Gmail errors
  backend/src/routes/inbox.js
Due: backend-unit, backend-integration

fix(inbox): validate Gmail threadId before using it for replies
  backend/src/routes/inbox.js
Due: backend-unit, backend-integration

fix(inbox): only use threadId when sending from same account
  backend/src/routes/inbox.js
Due: backend-unit, backend-integration

fix(campaigns): skip follow-ups when initial email bounces or fails
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(leads): correct API response property access when creating lead list
  frontend/app/leads/lists/new/page.tsx
Due: frontend

feat(leads): add CSV upload capability to existing lead lists
  frontend/app/leads/lists/[id]/page.tsx
  frontend/app/leads/lists/[id]/upload/page.tsx
Due: frontend

fix(inbox): automatically update lead status and cancel follow-ups when reply is synced
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

perf(inbox): optimize reply detection to reduce CPU usage
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

revert: disable reply detection temporarily to fix CPU spike
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

fix(inbox): re-enable reply detection for campaign emails only
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

Revert "fix(inbox): re-enable reply detection for campaign emails only"
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

fix(inbox): cancel follow-ups when campaign reply detected
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

Revert "fix(inbox): cancel follow-ups when campaign reply detected"
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

fix(pm2): use standalone server.js for Next.js in production
  ecosystem.config.cjs
Due: none

Revert "fix(pm2): use standalone server.js for Next.js in production"
  ecosystem.config.cjs
Due: none

fix(next): remove standalone output mode
  frontend/next.config.js
Due: frontend

fix: correct backend entry point path from server.js to index.js
  ecosystem.config.js
  scripts/deploy-email-variable-fix.sh
  scripts/deploy-manual.sh
  scripts/manual-ssh-deploy.sh
  scripts/production-setup.sh
Due: none

fix: rename ecosystem.config.js to .cjs for ES module compatibility
  check_conversation_messages.cjs
  check_followups.cjs
  check_inbox_sync.cjs
  check_ionos.cjs
  check_missing_replies.cjs
  check_reply_deep.cjs
  check_reply_status.cjs
  check_specific_conversation.cjs
  ecosystem.config.js
  fix_reply_status.cjs
  test_inbox_api.cjs
  test_ionos_sync.cjs
  test_manual_sync.cjs
Due: none

docs: add production deployment section to CLAUDE.md
  CLAUDE.md
Due: none

feat(inbox): cancel follow-ups when campaign reply detected (safe approach)
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

fix: change frontend exec_mode from cluster to fork for Next.js compatibility
  .gitignore
  ecosystem.config.cjs
Due: none

revert: restore to ce76f54 (last working state)
  .gitignore
  CLAUDE.md
  backend/src/services/UnifiedInboxService.js
  check_conversation_messages.cjs
  check_followups.cjs
  check_inbox_sync.cjs
  check_ionos.cjs
  check_missing_replies.cjs
  check_reply_deep.cjs
  check_reply_status.cjs
  check_specific_conversation.cjs
  ecosystem.config.cjs
  fix_reply_status.cjs
  scripts/deploy-email-variable-fix.sh
  scripts/deploy-manual.sh
  scripts/manual-ssh-deploy.sh
  scripts/production-setup.sh
  test_inbox_api.cjs
  test_ionos_sync.cjs
  test_manual_sync.cjs
Due: backend-unit, backend-integration

fix: standalone build setup for production deployment
  .gitignore
  ecosystem.config.cjs
  frontend/package.json
Due: frontend

feat(inbox): cancel follow-ups on campaign reply or bounce
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration
