Repository Acidsyd/BOB_inbox: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

feat: Inbox compose variables picker; Send Test tab for campaigns; fix test-email variable substitution; standardize {{variable}} format; and deployment ecosystem fixes
  @TIMESTAMP_ARCHITECTURE.md
  CLAUDE.md
  TIMESTAMP_ARCHITECTURE.md
  backend/src/routes/campaigns.js
  backend/src/routes/inbox.js
  backend/src/services/CronEmailProcessor.js
  backend/src/services/EmailService.js
  backend/src/services/TimezoneService.js
  backend/src/services/UnifiedInboxService.js
  backend/src/utils/CampaignScheduler.js
  ecosystem.config.js
  frontend/app/campaigns/[id]/edit/page.tsx
  frontend/components/campaigns/EmailSequenceBuilder.tsx
  frontend/components/dashboard/LatestActivity.tsx
  frontend/components/inbox/ComposeEmailModal.tsx
  frontend/components/inbox/InboxConversationItem.tsx
  frontend/components/inbox/InboxMessageView.tsx
  frontend/components/ui/rich-text-editor.tsx
  frontend/components/ui/simple-rich-text-editor.tsx
  frontend/components/ui/variable-picker.tsx
  frontend/lib/timezone.ts
  frontend/next.config.js
  test-spintax.cjs
Due: backend-unit, backend-integration, frontend

chore: add ecosystem.config.cjs for PM2 (CommonJS) to avoid ESM issues; use backend index.js, frontend npm start, cron via backend/src/cron.js
  ecosystem.config.cjs
Due: none

feat(webhooks): enhance test webhook with comprehensive example data
  backend/src/routes/webhooks.js
  backend/src/services/WebhookService.js
Due: backend-unit, backend-integration

feat: clean up email accounts UI - remove sync features
  backend/src/routes/emailAccounts.js
  frontend/app/settings/email-accounts/page.tsx
  frontend/hooks/useEmailAccounts.ts
Due: backend-unit, backend-integration, frontend

feat: analytics improvements and email sync enhancements
  backend/src/routes/analytics.js
  backend/src/routes/inbox.js
  backend/src/services/EmailSyncService.js
  package.json
Due: backend-unit, backend-integration

feat: merge advanced email accounts UI from v2 branch
  frontend/app/settings/email-accounts/page.tsx
Due: frontend

test: trigger GitHub Actions deployment
  README.md
Due: none

fix: improve SSH key handling in deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: use base64-encoded SSH key for deployment
  .github/workflows/deploy.yml
Due: none

fix: use printf for SSH key to preserve formatting
  .github/workflows/deploy.yml
Due: none

fix: use webfactory/ssh-agent for proper SSH key handling
  .github/workflows/deploy.yml
Due: none

debug: add SSH debugging output
  .github/workflows/deploy.yml
Due: none

fix: configure git user for tagging
  .github/workflows/deploy.yml
Due: none

fix: add write permissions for git tag push
  .github/workflows/deploy.yml
Due: none

feat: add bounce/open/click indicators and limit labels to 1
  backend/src/routes/inbox.js
  backend/src/services/FolderService.js
  frontend/components/inbox/ConversationLabels.tsx
  frontend/components/inbox/InboxConversationItem.tsx
  frontend/components/inbox/LabelPicker.tsx
Due: backend-unit, backend-integration, frontend

fix: add automated cleanup to deployment workflow
  .github/workflows/deploy.yml
  scripts/fix-production-issues.sh
Due: none

fix: run git ownership fix before any git operations
  .github/workflows/deploy.yml
Due: none

feat: add disk space analysis to deployment
  .github/workflows/deploy.yml
Due: none

feat: add emergency production restart script
  scripts/restart-production.sh
Due: none

fix: resolve production API URL and environment configuration
  .github/workflows/deploy.yml
  frontend/.env.production
Due: frontend

fix: nginx configuration gzip_proxied invalid value
  scripts/production-setup.sh
Due: none

feat: add Gmail live search integration with provider message ID support
  backend/src/routes/inbox.js
  backend/src/services/FolderService.js
  backend/src/services/providers/GmailSyncProvider.js
  ecosystem.config.js
  frontend/app/inbox/page.tsx
  frontend/components/inbox/InboxMessageView.tsx
  frontend/components/inbox/InboxSidebar.tsx
  frontend/hooks/useInboxMessages.ts
Due: backend-unit, backend-integration, frontend

feat: add campaign duplication feature
  backend/src/routes/campaigns.js
  frontend/app/campaigns/page.tsx
Due: backend-unit, backend-integration, frontend

feat: major improvements to backend services and frontend UI
  backend/src/index.js
  backend/src/routes/leadLists.js
  backend/src/services/FolderService.js
  backend/src/services/TimezoneService.js
  backend/src/utils/CampaignScheduler.js
  frontend/app/campaigns/[id]/edit/page.tsx
  frontend/app/globals.css
  frontend/components/inbox/InboxMessageView.tsx
Due: backend-unit, backend-integration, frontend

fix: production environment improvements from server
  backend/src/index.js
  frontend/lib/api.ts
Due: backend-unit, backend-integration, frontend

fix: auto-stash server changes before deployment checkout
  .github/workflows/deploy.yml
Due: none

fix(CronEmailProcessor): fix duplicate scheduled email timestamps with proper interval staggering
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

feat(scheduler): implement perfect rotation algorithm and unlimited pagination
  CLAUDE.md
  backend/check_campaign_followups.js
  backend/check_missing_emails.js
  backend/src/routes/analytics.js
  backend/src/routes/campaigns.js
  backend/src/services/CronEmailProcessor.js
  backend/src/utils/CampaignScheduler.js
  backend/src/utils/supabaseHelpers.js
  backend/verify_final_state.js
Due: backend-unit, backend-integration

feat: enhance email processing with follow-up automation and bug fixes
  .gitignore
  backend/src/index.js
  backend/src/services/CronEmailProcessor.js
  backend/src/services/HealthCheckService.js
  database_migrations/add_bounce_conversation_type.sql
  database_migrations/add_health_check_fields.sql
  database_migrations/add_last_sync_to_oauth2_tokens.sql
  database_migrations/add_metadata_to_oauth2_tokens.sql
  database_migrations/add_parent_email_id_to_scheduled_emails.sql
  database_migrations/add_provider_thread_id.sql
  database_migrations/add_webhook_assignments.sql
  database_migrations/fix_timestamp_columns.sql
  deployment/deploy-timezone-fix.sh
  deployment/deploy.sh
  deployment/production-deploy.sh
  docs/DEPLOYMENT_GUIDE.md
Due: backend-unit, backend-integration

feat(campaigns): display email sequence breakdown and follow-up badges
  backend/src/routes/campaigns.js
  frontend/app/campaigns/[id]/page.tsx
Due: backend-unit, backend-integration, frontend

fix(CronEmailProcessor): prevent duplicate follow-up creation
  backend/src/services/CronEmailProcessor.js
  cleanup-duplicate-followups.cjs
Due: backend-unit, backend-integration

fix(production): fix nginx MIME types and Next.js build config for qquadro.com
  PRODUCTION-FIX-GUIDE.md
  config/nginx/nginx.conf
  deploy-production.sh
  frontend/next.config.js
Due: frontend

fix(deployment): prevent ChunkLoadError with proper cache headers and clean builds
  PRODUCTION-FIX-GUIDE.md
  config/nginx/nginx.conf
  deploy-production.sh
Due: none

chore: add root-level diagnostic scripts to .gitignore
  .gitignore
Due: none

fix(CronEmailProcessor): add spintax processing and threading for follow-up emails
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): add missing fields to getPendingEmails query
  backend/cancel_bad_followups.cjs
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

Path conditions:
  backend-unit: any of: backend/
  backend-integration: any of: backend/
  frontend: any of: frontend/
