Repository Acidsyd/BOB_inbox: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

fix(campaigns): include initialEmails and followUpEmails in campaign response
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(CampaignScheduler): replace biased hash-based jitter with uniform random distribution
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

feat(ReplyMonitoringService): add proactive follow-up cancellation on reply detection
  backend/src/services/ReplyMonitoringService.js
Due: backend-unit, backend-integration

fix(cron): revert auto-start, enforce standalone-only architecture
  CLAUDE.md
  backend/src/index.js
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): preserve parent Message-ID for threaded follow-ups
  THREADING_FIX_SUMMARY.md
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): check message_id_header instead of thread_id for threading
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(campaigns): prevent massive scheduling gaps on campaign restart
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(campaigns): update subject and content on campaign restart
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(campaigns): correct column name from email_content to content
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(campaigns): process spintax and personalization on restart update
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): exclude follow-ups from rescheduling logic
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(EmailService): pass threading parameters to OAuth2/SMTP for follow-up replies
  backend/investigate-duplicate.js
  backend/remove-contacted-leads.js
  backend/remove-sent-failed-leads.js
  backend/src/services/EmailService.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): exclude follow-ups from ALL reschedule operations
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(campaigns): preserve emailsPerHour during updates and fix inconsistent defaults
  EMAILSPERHOUR_BUG_FIX.md
  backend/src/routes/campaigns.js
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(follow-ups): prevent weekend scheduling and rescue stuck follow-ups
  FOLLOWUP_VERIFICATION.md
  backend/src/routes/campaigns.js
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): apply jitter during runtime email rescheduling
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): stop sending when recipient replies (global stopOnReply)
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): skip follow-ups for bounced emails
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(CronEmailProcessor): fetch tracking_token to enable email open/click tracking
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

feat(api): add public endpoint to add leads without authentication
  backend/src/index.js
  backend/src/routes/publicLeads.js
Due: backend-unit, backend-integration

feat(smtp): complete SMTP implementation with API endpoints and reply fix
  backend/src/index.js
  backend/src/routes/smtp.js
  backend/src/services/EmailService.js
Due: backend-unit, backend-integration

fix(deps): add missing express-rate-limit dependency
  backend/package.json
Due: backend-unit, backend-integration

fix(smtp): replace missing middleware with inline authenticateToken
  backend/src/routes/smtp.js
Due: backend-unit, backend-integration

fix(scheduler): deprecate emailsPerHour to fix interval override issues
  backend/src/services/CronEmailProcessor.js
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

feat(debug): add diagnostic and fix scripts for wise 4 campaign restart issue
  backend/diagnose-wise4-restart.js
  backend/fix-wise4-schedule.js
Due: backend-unit, backend-integration

feat(smtp): implement full SMTP/IMAP email account functionality
  SMTP_IMAP_IMPLEMENTATION.md
  backend/package.json
  backend/src/routes/smtp.js
  backend/src/services/BackgroundSyncService.js
  backend/src/services/EmailService.js
  backend/src/services/ImapService.js
  frontend/app/settings/email-accounts/new/page.tsx
Due: backend-unit, backend-integration, frontend

fix(inbox): correct folder filtering to show only received replies
  backend/src/services/FolderService.js
  backend/src/services/UnifiedInboxService.js
Due: backend-unit, backend-integration

feat(webhooks): add comprehensive webhook events for n8n CRM integration
  backend/src/routes/campaigns.js
  backend/src/routes/leadLists.js
  backend/src/services/CronEmailProcessor.js
  frontend/components/webhooks/WebhookManager.tsx
Due: backend-unit, backend-integration, frontend

fix(webhooks): update validation to accept all 12 webhook event types
  backend/src/routes/webhooks.js
Due: backend-unit, backend-integration

fix(leadLists): improve error handling and logging for lead list creation
  backend/src/routes/leadLists.js
Due: backend-unit, backend-integration

fix(webhooks): add lead_list.created webhook to CSV upload endpoint
  backend/src/routes/leadLists.js
Due: backend-unit, backend-integration

feat(webhooks): add comprehensive test payloads for all event types
  backend/src/routes/leadLists.js
  backend/src/routes/webhooks.js
Due: backend-unit, backend-integration

fix(webhooks): use real event types in test webhooks instead of webhook.test
  backend/src/routes/webhooks.js
Due: backend-unit, backend-integration

fix(leads): add response validation and safe defaults for CSV upload
  PRODUCTION_DEPLOYMENT_CRON_FIX.md
  THREADING_FIX_REFERENCE.md
  WISE4_INVESTIGATION_REPORT.md
  backend/deep-check-wise3.js
  backend/diagnose-interval-issue.js
  backend/diagnose-restart-bug.js
  backend/find-lead.cjs
  backend/find-stefano-sent.cjs
  backend/reprocess-wise3-spintax.js
  backend/test-bounce-detection.js
  backend/test-cancel-greg-followup.cjs
  backend/test-stoponreply-fix.js
  check-wise3-supabase.sql
  frontend/components/leads/CSVUploader.tsx
  scripts/deploy-cron-fix.sh
Due: backend-unit, backend-integration, frontend

feat(campaigns): add nightly automatic reschedule service with tracking
  CLAUDE.md
  backend/scripts/test-nightly-reschedule.js
  backend/src/cron.js
  backend/src/routes/campaigns.js
  backend/src/services/NightlyRescheduleService.js
  config/migrations/20250113_add_reschedule_tracking.sql
  frontend/app/campaigns/[id]/page.tsx
  package.json
Due: backend-unit, backend-integration, frontend

feat(storage): implement email archival system with Supabase Storage
  CLAUDE.md
  backend/scripts/analyze-campaigns.js
  backend/scripts/analyze-database-size.js
  backend/scripts/analyze-database-size.sql
  backend/scripts/analyze-scheduled-emails.js
  backend/scripts/delete-all-campaigns.js
  backend/scripts/emergency-cleanup.js
  backend/scripts/init-storage.js
  backend/scripts/migrate-emails-to-storage.js
  backend/scripts/run-vacuum.js
  backend/src/services/EmailArchiveService.js
  config/migrations/20250113_add_storage_columns.sql
  docs/EMAIL_STORAGE.md
  package.json
Due: backend-unit, backend-integration

feat(editor): comprehensive rich text editor improvements
  frontend/components/ui/extensions/line-height.ts
  frontend/components/ui/rich-text-editor.tsx
  frontend/components/ui/simple-rich-text-editor.tsx
  frontend/package.json
Due: frontend

fix(editor): resolve React hooks and Tiptap duplicate extensions errors
  frontend/components/ui/rich-text-editor.tsx
Due: frontend

fix(editor): fix indent/outdent buttons functionality
  frontend/components/ui/rich-text-editor.tsx
Due: frontend

fix(editor): improve HTML signature paste handling
  frontend/components/ui/rich-text-editor.tsx
Due: frontend

Path conditions:
  backend-unit: any of: backend/
  backend-integration: any of: backend/
  frontend: any of: frontend/
