Repository Acidsyd/BOB_inbox: changes, and which Codecov flags are due for each by the changed paths.
All: backend-unit, backend-integration, frontend

feat(editor): add image resizing and rich text signature editor
  frontend/app/globals.css
  frontend/app/settings/email-accounts/[id]/page.tsx
  frontend/components/ui/rich-text-editor.tsx
  frontend/package.json
Due: frontend

feat(editor): improve HTML signature paste support
  frontend/components/ui/rich-text-editor.tsx
Due: frontend

feat(smtp): add comprehensive SMTP diagnostic tools and improve error handling
  backend/diagnose-smtp-issue.js
  backend/scripts/diagnostic/diagnose-smtp-issue.js
  backend/scripts/diagnostic/test-ionos-connection.js
  backend/src/routes/smtp.js
  backend/test-ionos-connection.js
Due: backend-unit, backend-integration

docs(smtp): add comprehensive README for diagnostic tools
  backend/diagnose-smtp-issue.js
  backend/scripts/diagnostic/README.md
  backend/test-ionos-connection.js
Due: backend-unit, backend-integration

fix(backend): resolve critical cron and security issues
  backend/src/cron.js
  backend/src/routes/unsubscribe.js
  backend/src/services/EmailService.js
  config/migrations/20251114_add_unsubscribe_columns.sql
Due: backend-unit, backend-integration

feat(leads): add custom fields support to lead import API
  backend/delete-all-leads-robust.js
  backend/src/routes/leadLists.js
Due: backend-unit, backend-integration

fix(leads): accept any type for custom_fields in lead import
  backend/src/routes/leadLists.js
Due: backend-unit, backend-integration

feat(settings): add API documentation page
  frontend/app/settings/api/page.tsx
  frontend/app/settings/page.tsx
Due: frontend

feat(settings): add API Docs quick action button
  frontend/app/settings/page.tsx
Due: frontend

feat(sidebar): add API Documentation menu item
  frontend/components/layout/Sidebar.tsx
Due: frontend

feat(ui): convert email accounts and lead lists to table view with analytics
  CLAUDE.md
  QUICK_START_RELAY.md
  RELAY_IMPLEMENTATION_COMPLETE.md
  RELAY_PROVIDERS_SETUP.md
  RELAY_SETUP_STATUS.md
  backend/add-display-name-migration.sql
  backend/add-is-active-column.sql
  backend/delete-all-leads-batch.js
  backend/delete-all-leads-sql.js
  backend/delete-all-leads.js
  backend/delete-gmail-account.js
  backend/list-all-accounts.js
  backend/package.json
  backend/scripts/apply-relay-migration.js
  backend/src/index.js
  backend/src/routes/emailAccounts.js
  backend/src/routes/inbox.js
  backend/src/routes/relayProviders.js
  backend/src/services/EmailService.js
  backend/src/services/OAuth2Service.js
  backend/src/services/RelayProviderService.js
  backend/update-display-names.js
  config/migrations/20250114_add_relay_providers.sql
  frontend/app/leads/lists/page.tsx
  frontend/app/settings/email-accounts/[id]/page.tsx
  frontend/app/settings/email-accounts/mailgun/[id]/link-accounts/page.tsx
  frontend/app/settings/email-accounts/new/page.tsx
  frontend/app/settings/email-accounts/new/page_old.tsx
  frontend/app/settings/email-accounts/page.tsx
  frontend/components/inbox/ComposeEmailModal.tsx
  frontend/hooks/useEmailAccounts.ts
  frontend/hooks/useLeadLists.ts
Due: backend-unit, backend-integration, frontend

feat(api): add custom_fields support to public leads endpoint
  backend/src/routes/publicLeads.js
  config/migrations/20251115_add_custom_fields_to_leads.sql
Due: backend-unit, backend-integration

fix(frontend): display custom_fields in lead table
  frontend/components/leads/SimpleLeadTable.tsx
Due: frontend

fix(ui): display only value for primitive custom_fields
  frontend/components/leads/SimpleLeadTable.tsx
Due: frontend

feat(imap): add IMAP receiving capability for Mailgun/SendGrid accounts
  backend/src/routes/emailAccounts.js
  backend/src/services/BackgroundSyncService.js
  backend/src/services/providers/ImapSyncProvider.js
  backend/src/services/providers/ProviderFactory.js
  config/migrations/20250115_add_imap_to_email_accounts.sql
  frontend/app/settings/email-accounts/mailgun/[id]/link-accounts/page.tsx
Due: backend-unit, backend-integration, frontend

fix(imap): resolve race condition in email content parsing
  DNS_CONFIGURATION_ANALYSIS.md
  backend/src/services/ImapService.js
Due: backend-unit, backend-integration

fix(imap): add email_account_id to relay IMAP messages and reverse inbox order
  backend/src/services/EmailSyncService.js
  frontend/components/inbox/InboxMessageView.tsx
Due: backend-unit, backend-integration, frontend

feat(email-accounts): add relay provider management with table view
  backend/src/routes/relayProviders.js
  frontend/app/campaigns/page.tsx
  frontend/app/settings/email-accounts/new/page.tsx
  frontend/components/email-accounts/MailgunConfigModal.tsx
  frontend/components/email-accounts/RelayProvidersTable.tsx
  frontend/components/email-accounts/SendGridConfigModal.tsx
  frontend/hooks/useRelayProviders.ts
Due: backend-unit, backend-integration, frontend

fix(email-accounts): add cascade cleanup when deleting accounts
  backend/src/routes/emailAccounts.js
Due: backend-unit, backend-integration

fix(email-threading): generate custom Message-ID for Mailgun/SendGrid threading
  backend/src/services/RelayProviderService.js
  backend/test-message-id-generation.js
Due: backend-unit, backend-integration

fix(email-reply): add relay provider support for Mailgun/SendGrid replies
  backend/src/services/EmailService.js
Due: backend-unit, backend-integration

fix(email-reply): ensure sent replies appear in conversation
  backend/src/routes/inbox.js
  backend/src/services/EmailService.js
Due: backend-unit, backend-integration

feat(campaigns): improve scheduling, follow-ups, and tracking system
  backend/src/index.js
  backend/src/routes/campaigns.js
  backend/src/routes/tracking.js
  backend/src/services/BackgroundSyncService.js
  backend/src/services/CronEmailProcessor.js
  backend/src/services/EmailTrackingService.js
  backend/src/services/ImapService.js
  backend/src/services/providers/ProviderFactory.js
  backend/src/utils/CampaignScheduler.js
  frontend/app/campaigns/[id]/page.tsx
Due: backend-unit, backend-integration, frontend

chore(backend): add debugging and testing utilities
  backend/analyze-3-day-schedule.js
  backend/analyze-date-range.js
  backend/analyze-ip-setup.js
  backend/analyze-tracking.js
  backend/cleanup-invalid-followups.js
  backend/delete-past-followups.js
  backend/disable-tracking.js
  backend/find-followups.js
  backend/monitor-campaign-restart.js
  backend/query-campaign-all-stats.js
  backend/query-campaign-stats.js
  backend/remove-duplicate-scheduled.js
  backend/restore-followups.js
  backend/test-imap-content.js
  backend/test-imap-debug.js
  backend/test-imap-detailed.js
  backend/test-imap-ionos.js
  backend/test-jitter-distribution.js
  backend/test-mailgun-provider.js
  backend/test-mailgun-validation.js
  backend/test-relay-api.js
  backend/test-sendgrid.js
  backend/test-sub-minute-randomization.js
  backend/test-volume-integration.js
  backend/test-volume-variation.js
  backend/test-window-variation.js
  backend/trigger-manual-sync-test.js
  test-hetzner-connection.sh
Due: backend-unit, backend-integration

fix(campaigns): add random start offset to prevent exact hour starts
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix(campaigns): increase random start offset to 0-10 minutes
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix(campaigns): preserve follow-ups when updating campaign settings
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(campaigns): prevent follow-ups from sending before parent with 24h minimum gap
  THREADING_FIX.md
  backend/diagnose-threading.js
  backend/src/services/CronEmailProcessor.js
  backend/test-24h-validation.js
Due: backend-unit, backend-integration

fix(cron): fix variable scope issue in follow-up validation
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(cron): enforce campaign interval at campaign level to prevent rapid-fire emails
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(cron): resolve variable scope issues preventing email processing
  backend/find-followups.js
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(cron): fix timezone conversion bug in moveToNextActiveDay causing incorrect 9am scheduling
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(campaigns): remove rescueStuckFollowUps call that was bunching emails at 8am
  backend/src/routes/campaigns.js
Due: backend-unit, backend-integration

fix(scheduler): preserve time variation in moveToNextDay to prevent email bunching
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix(scheduler): preserve time variation when moving to start hour
  backend/src/utils/CampaignScheduler.js
Due: backend-unit, backend-integration

fix(scheduler): fix midnight scheduling bug - preserve minutes/seconds correctly
  backend/analyze-followup-dates.js
  backend/analyze-followup-mismatch.js
  backend/final-count-check.js
  backend/find-orphan-followups.js
  backend/recreate-missing-followups.js
  backend/repair-buggy-followups.js
  backend/restore-deleted-followups.js
  backend/src/utils/CampaignScheduler.js
  backend/test-1618-restart.js
  backend/test-full-scheduling-flow.js
  backend/test-move-next-day-bug.js
  backend/trace-midnight-emails.js
Due: backend-unit, backend-integration

fix(inbox): respect campaign tracking settings when displaying icons
  backend/src/services/FolderService.js
Due: backend-unit, backend-integration

feat(rate-limiting): exclude follow-ups from daily/hourly rate limits
  backend/src/services/AccountRateLimitService.js
Due: backend-unit, backend-integration

fix(personalization): add support for {{first_name}} snake_case variable format
  backend/src/routes/campaigns.js
  backend/src/services/CronEmailProcessor.js
Due: backend-unit, backend-integration

fix(inbox): filter campaign conversations by actual received replies
  backend/src/services/FolderService.js
Due: backend-unit, backend-integration

Path conditions:
  backend-unit: any of: backend/
  backend-integration: any of: backend/
  frontend: any of: frontend/
